<%= render "../header"%>
<div id="banner"> 
</div>



<div class="container mt-5 mb-3" style="border:'0.5px solid gray';">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Banh my</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nuoc ngot</a>
  </li>
</ul>
<div id="foods">
<div class="row">
<%@foods.each do |food|%>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
    <%if food.image %>
    <%= image_tag food.image, class:"card-img-top"%>
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%=food.name%></h5>
      <p class="card-text"><%=food.decription%></p>
      <a  href="/bill/add/<%=food.id%>" class="btn btn-primary">Add cart</a>
    </div>
  </div>
  </div>
<%end%>

</div>

</div>
</div>


<div>
        <div class="footer2 bg-dark text-white p-5">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="contact">
                  <div class="w-100 m-auto">
                    <h4 class="title1">HCPA</h4>

                    <ul class="justify-content-between ">
                      <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                        <span> 247 Cầu Giấy, Hà Nội</span>
                      </li>
                      <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span> P503, 20 Phan Đình Giót, P.2, Q. Tân Bình</span>
                      </li>
                      <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:19001568">19001568</a>
                      </li>
                      <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>

                        <a href="tel:0904886095" rel="">
                          090 488 6095
                        </a>
                      </li>
                      <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span> cskh@unica.vn </span>
                      </li>
                      <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <i aria-hidden="true"></i>
                        <span> 8:00 - 22:00 </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-4 ">
                <div class="contact">
                  <h4 class="title2">Về HCPA</h4>
                  <ul>
                    <li>Giới thiệu về HCPA</li>
                    <li>Câu hỏi thường gặp</li>
                    <li>Điều khoản dịch vụ</li>
                    <li>
                      <a href="/huong-dan-thanh-toan.html" rel="nofollow">
                        Hướng dẫn thanh toán
                      </a>
                    </li>
                    <li>
                      <a href="/kichhoat" rel="nofollow">
                        Kích hoạt khóa học
                      </a>
                    </li>
                    <li>
                      <a href="/blog">Góc chia sẻ</a>
                    </li>
                    <li>
                      <a href="/chinh-sach-bao-mat.html" rel="nofollow">
                        Chính sách bảo mật
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-4  ">
                <div class="contact">
                  <h4>Hợp tác liên kết</h4>
                  <ul>
                    <li>
                      <a href="/teacher" rel="nofollow">
                        Đăng ký giảng viên
                      </a>
                    </li>

                    <li>
                      <a
                        href="https://edubit.vn?ref=unica"
                        rel="nofollow"
                        target="_blank"
                      >
                        Giải pháp e-learning
                      </a>
                    </li>
                    <li>
                      <a href="https://acabiz.vn?ref=unica" target="_blank">
                        Đào tạo doanh nghiệp
                      </a>
                    </li>

                    <li>
                      <a href="/affiliate" rel="nofollow">
                        Affiliate
                      </a>
                    </li>
                    <li>
                      <a href="/agency" rel="nofollow">
                        Agency
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
