<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><%= image_tag current_user.avatar,class:'rounded-circle mt-5',style:"width:150px;height:150px" %><span class="font-weight-bold"><%=current_user.name%></span><span class="text-black-50"><%=current_user.email%></span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
         <%= render "devise/shared/error_messages", resource: resource %>
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-center">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><%= f.text_field :name,class:"form-control", placeholder:"Your name"%></div>
                    <div class="col-md-6"><label class="labels">Date of Birth</label><%= f.date_field :dob,class:"form-control", placeholder:"date of birth"%></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Mobile Number</label><%= f.text_field :phoneNumber,class:"form-control", placeholder:"Your phone number"%></div>
                    <div class="col-md-6"><label class="labels">Age</label><%= f.number_field :age,class:"form-control", placeholder:"Age"%></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Address</label><%= f.text_field :address,class:"form-control", placeholder:"Address"%></div>
                    <div class="col-md-12"><label class="labels">Email</label><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",placeholder:"Your email" %></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4"><label class="labels">New pass  <i>(leave blank if you don't want to change it)</i></label><%= f.password_field :password, autocomplete: "new-password",class:"form-control", placeholder:'Current password'%></div>
                    <div class="col-md-4"><label class="labels">Comfirm pass</label><%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control', placeholder:'Confirmation password' %></div>
                    <div class="col-md-4"><label class="labels">Current pass</i></label><%= f.password_field :current_password, autocomplete: "current-password", class:'form-control',placeholder:'Current pass' %></div>
                </div>
                <div class="mt-5 text-center"> <%= f.submit "Save Profile", class:"btn btn-primary profile-button" %> | <%= link_to "Back", :back ,class:'btn btn-outline-primary'%></div>
            </div>
            <% end %>

            
        </div>
    </div>
</div>
</div>
</div>

