<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.label "Category" %>
  <%= form.collection_select :category_id, @categories.order(:name), :id, :name %>
</div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="field">
    <%= form.label :decription %>
    <%= form.text_field :decription %>
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.number_field :vote %>
  </div>
  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :vote %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
